body {
  font-family: 'Arial', sans-serif !important;
  font-size: 17px !important;
  color: #4A4A4A !important;
  }

a {
  // text-decoration: none !important;
  // color: red !important;
  // font-size: 17px !important;
}

textarea {
  font-family: 'Arial', sans-serif !important;
  font-size: 17px !important;
  color: #4A4A4A !important;
}