name: Vue.js Deployment

on:
  push:
    branches:
      - gaeng   # 특정 브랜치에 푸시될 때 배포 실행

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. GitHub 저장소에서 코드를 체크아웃합니다.
      - name: Checkout code
        uses: actions/checkout@v3  # 최신 버전 사용

      # 2. Node.js 및 Amplify CLI 설치
      - name: Install Node.js
        uses: actions/setup-node@v3  # 최신 버전 사용
        with:
          node-version: '18'


      # 5. Amplify 환경 선택
      - name: Checkout Amplify environment
        run: amplify env checkout gaeng  # 'dev' 환경 선택

      # 6. Amplify 배포 명령어 실행
      - name: Deploy to Amplify
        run: amplify publish --yes