name: Vue.js Deployment

on:
  push:
    branches:
      - main   # 'main' 브랜치로 푸시될 때 배포 실행

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. GitHub 저장소에서 코드를 체크아웃
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Node.js 설치
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # 3. Amplify CLI 설치
      - name: Install Amplify CLI
        run: npm install -g @aws-amplify/cli

      # 4. AWS credentials 설정
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2
          
      # 5. Amplify 환경 선택
      - name: Checkout Amplify environment
        run: amplify env checkout gaeng  # 'dev' 환경 선택

      # 5. Vue.js 프로젝트 빌드
      - name: Build Vue.js project
        run: npm run build

      # 6. Amplify 배포
      - name: Deploy to Amplify
        run: amplify publish --frontend --yes